@import url(reset.css);

body{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#wrapper{
	width: 1280px;
	margin: 0 auto;
}

div, p, input, button, form {
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

#header{
	background: #22a2ec;
	padding: 30px 45px;
	color: #fff;
}

.logo{
	font-weight: bold;
	font-size: 18px;
	
	float: left;
	margin-right: 127px;
}

.logo a{
	text-decoration: none;
	color: #fff;
}

.logo a:hover{
	text-decoration: none;
	color: #fff;
}

.main-menu{
	padding: 0px;
	margin: 0px;
}

.menu-item{
	float: left;
	padding-right: 27px;
	display: block;
}

.menu-item a{
	color: #fff;
	font-weight: bold;
}

.phone{
	float: right;
	font-weight: bold;
	font-size: 18px;
}

/*--second screen--*/



#main-content{
	width: 93%;
	overflow: hidden;
	margin-bottom: 55px;
}

h1{
	margin: 52px 0 38px 44px;
	font-size: 28px;
	font-weight: bold;
}

.content-blocks{
	//rgin:  37px 57px 55px 43px;
	width:93%;
	margin: 0 auto;

}

.content-item{
	//height: 243px;
	width:355px;
	float: left;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #d6d6d6;
	margin-right: 57px;
} 

.content-item h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 22px;
} 

.content-item:nth-child(3){
	margin-right: 0;
	box-shadow: 0 0 36px #777777;
	border-radius: 8px;
}

.content-item:nth-child(2){
	border: 5px solid #d6d6d6;

	padding: 25px;
}

.content-item a, .content-item a:hover{
	display: block;
	color: #3da9ed;
}


.content-text{
	height: 100%;
}

#first-text-block{
	line-height: 1.96;
}


.content-text{
	line-height: 1.7;
}

.read-more{
	display: block;
	margin-top: 13px;
}
/*--3d screen--*/

h2{
	margin: 52px 0 38px 44px;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 36px;
}

#id-info{
	width: 100%;
}


.form-card{
	width: 73%;
	margin: 0 auto;
}

form{
	width: 233px;

}

.input{
	margin-bottom: 12px;
}

