@import url(reset.css);

body{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	
}


#wrapper{
	width: 1280px;
	margin: 0 auto;
}


div, p, input, button, form {
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

#header{
	background: #22a2ec;
	padding: 30px 45px;
	color: #fff;

}

.header-all{
	width: 1280px;
	margin: 0 auto;
}

.logo{
	font-weight: bold;
	font-size: 18px;
	
	float: left;
	margin-right: 127px;
}

.logo a{
	text-decoration: none;
	color: #fff;
}

.logo a:hover{
	text-decoration: none;
	color: #fff;
}

.main-menu{
	padding: 0px;
	margin: 0px;
}

.menu-item{
	float: left;
	padding-right: 27px;
	display: block;
}

.menu-item a{
	color: #fff;
	font-weight: bold;
}

.phone{
	float: right;
	font-weight: bold;
	font-size: 18px;
}

/*--second screen--*/



#main-content{
	width: 93%;
	overflow: hidden;
	margin-bottom: 55px;
	width: 1200px;
	margin: 0 auto;
}

h1{
	margin: 52px 0 38px 0;
	font-size: 28px;
	font-weight: bold;
}

.content-blocks{
	
	width:100%;
	margin: 0 auto;

}

.content-item{
	//height: 243px;
	width:327px;
	float: left;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #d6d6d6;
	margin-right: 57px;
	line-height: 1;
} 

.content-item h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 22px;
} 

.content-item:nth-child(3){
	margin-right: 0;

	box-shadow: 0 0 36px #777777;
	border-radius: 8px;
}

.content-item:nth-child(2){
	border: 5px solid #d6d6d6;

	padding: 25px;
}

.content-item a, .content-item a:hover{
	display: block;
	color: #3da9ed;
}


.content-text{
	height: 100%;
}

#first-text-block{
	line-height: 1.96;
}


.content-text{
	line-height: 1.7;
}

.read-more{
	display: block;
	margin-top: 13px;
}
/*--3d screen--*/

.form-block{
	width: 358px;
	float: left;
	
}


.form-card {
	
	
	overflow: hidden;
	
	margin: 0 auto;
	margin: 54px auto 0 auto;
}

.form-card h2 {
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 41px;
	width: 100%;

	
}

.form-all{
	height: 301px;
	
	margin: 0 auto;
}

.form{

	width: 358px;
}

.input{
	width: 240px;
	margin: 0 211px 12px 0;
	padding: 16px 23px;
	color: #a9aaab;
	border: 1px solid #d6d6d6;
	
}


.txt-input{
	border: 1px solid #d6d6d6;
	color: #a9aaab;
	padding: 16px 23px;
	width: 289px; height: 74px;
}

.btn-submit{
	background: #ebce0d;
	border: none;
	margin-top: 22px;
	padding: 16px 45px;
	font-weight: bold;
}

.card{
	width: 770px;
	height: 300px;
	float: right;
	background: #184c6b;
	color: #c0ddee;
	border-radius: 11px;
	overflow: hidden;
	

}

.card h3{
	font-size: 21px;
	font-weight: bold;
	overflow: hidden;
	margin: 42px 39px 26px 39px;
	
	
}

.card-text{
	float: left;
	width: 316px;
	//margin: 0 60px 50px 39px;
	margin:0 auto 50px 40px ;
	line-height: 1.65;


}

.card-right{
	float: right;
	width: 315px;

	margin: 0 35px 16px 27px;

}

.card-img{
	margin-bottom: 16px;

}

.secure-data{
	font-size: 12px;
	color: #84898d;
	margin-top: 22px;
	font-weight: bold;
	

}


