@import url(reset.css);

body{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	
}

div, p, input, button, form {
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

#header{
	background: #22a2ec;
	padding: 30px 45px;
	color: #fff;
}

.logo{
	font-weight: bold;
	font-size: 18px;
	
	float: left;
	margin-right: 127px;
}

.main-menu{
	padding: 0px;
	margin: 0px;
}

.menu-item{
	float: left;
	padding-right: 27px;
	display: block;
}

.menu-item a{
	color: #fff;
	font-weight: bold;
}

.phone{
	float: right;
	font-weight: bold;
	font-size: 18px;
}

/*--second screen--*/



#main-content{
	width: 100%;
	overflow: hidden;
}

h1{
	margin: 52px 0 38px 44px;
	font-size: 28px;
	font-weight: bold;
}

.content-blocks{
	margin:  37px 57px 55px 43px;
	width:73%;
	margin: 0 auto;

}

.content-item{
	//height: 243px;
	width:355px;
	float: left;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #d6d6d6;
	margin-right: 57px;
} 

.content-item h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 22px;
} 

.content-item:nth-child(3){
	margin-right: 0;
}


.content-text{
	height: 100%;
}

#first-text-block{
	line-height: 1.96;
}


.content-text{
	line-height: 1.7;
}

.read-more{
	display: block;
	margin-top: 13px;
}




